.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    background-color: #efe9e6;
}

.wrap {
    display: inline-block;
}

.nav__link,
.nav__svgs {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
}

.nav__logo {
    display: flex;
    justify-content: flex-start;
    margin: 0px 7px;
    padding: 0 4px;
    border-radius: 10px;
}

.nav__link a,
.nav__logo a,
.nav__svgs img {
    display: inline-block;
    padding: 2px 10px;
    font-size: 1.58em;
    color: #475245;

}

.nav__logo a {
    font-family: 'Marcellus SC', sans-serif;
}

.nav__search {
    display: flex;
    align-items: center;
    padding: 0 1em;


}

.searchInput {
    /* border: solid 2px #F6F5EC; */
    border-radius: 10px 0 0 10px;
    width: 15em;

    padding: 2px 0;

}

.nav__search input {
    display: inline-block;
    width: 100%;
    padding: 6px;
    border-radius: 10px 0 0 10px;
    background-color: #e0d0c1;
}

.nav__search input:focus {
    background-color:#60765c;
    color: #FBA744;
    outline: none;
    border: #62715f solid 1px;
}

.searchIcon {
    /* border: solid 2rgb(116, 103, 92)5EC; */
    border-radius: 0 10px 10px 0;
    display: inline-block;
    padding: 6px;
    background-color: #e0c7af;
    cursor: pointer;

}