.sectionPaguination {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efe9e6;
}

.sectionPaguination button {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #2c342b;
    background-color:  #e0d0c1;
}

.sectionPaguination button:hover {
    background-color: #2c342b;
    color: #FBA744;
}

.sectionPaguination__page {
    cursor: default;
    background-color: #e3c09f !important;
    color: #2c342b !important;
}



.buttonDisabled{
    background-color: #d8d2cd !important;
    color: #2c342b !important;
    cursor: default;
    border :0;
}

.buttonDisabled:focus{
    outline: none;
}