.commentSent {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 20px;
    overflow: auto;
    background-color: #F6F5EC;
    color: #556353;
    border-radius: 20px;
    font-weight: bolder;
    top: 50%;
    width: 50%;
    left: 25%;
}

.commentSent div {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: none;
    text-align: center;
    align-content: center;
}
