.containerAbout {
    height: 100vh;
    text-align: center;
    padding: 20px;
    margin: 0px;
    background: linear-gradient(180deg, rgba(247, 241, 234, 0.961) 0%, rgb(180, 157, 138) 49%, rgba(45, 41, 38, 1) 95%);
}

.containerAboutName {
    background: linear-gradient(90deg, rgba(208, 186, 150, 0.961) 0%, rgb(186, 148, 110) 50%, rgb(187, 153, 121) 95%);
}

.aboutName {
    display: inline-block;
    color: "#FFFFFF";
    font-size: "40px";
}


.nameAbout {
    display: inline-block;
    color: #d09254;
    font-size: 20px;
    margin: 20px;
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(84, 105, 80, 0.961) 0%, rgb(75, 85, 73) 52%, rgba(102, 114, 100, 1) 95%);
    text-align: center;
    background-color: 10px;
    border: 3px solid rgb(101, 118, 102);
    border-radius: 10px;
}