.divAddCart_div {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #556353;
    border-radius: 15px;
    margin: 0.2rem 1.5rem;
}

.div_button1 {
    padding: 0.5rem;
}

.dic_p {
    padding: 1rem;
}

.div_button2 {
    padding: 0.5rem;
}

.div_button {
    padding: 1rem;
    background-color: #FBA744;
    border-radius: 15px;
    color: #FDFDFD;
}

.addToCart {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 30%;
    margin: 15rem 0rem 0rem 33rem;
    overflow: auto;
    background-color: #404040;
    border-radius: 20px;
    font-weight: bolder;
}

.commentSent div {
    display: flex;
    flex-direction: column;
    margin: 15%;
    border-radius: 8px;
    border: none;
    text-align: center;
    align-content: center;
}
