 /* animaciones */

 .anim-start-landing {
     animation-name: start-landing;
     animation-fill-mode: forwards;
     animation-duration: 1.3s;

 }

 @keyframes start-landing {
     100% {
         filter: blur(0px);
     }
 }

 .anim-showing {
     opacity: 0;
     animation-name: showing;
     animation-fill-mode: forwards;
     animation-duration: 2s;
 }

 @keyframes showing {
     30% {
         opacity: 1;
         filter: blur(5px);
     }

     85% {}

     100% {
         filter: blur(0px);
         opacity: 1;
     }
 }

 .anim-showing-fast {
    opacity: 0;
    animation-name: showing-fast;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

@keyframes showing-fast {
    30% {
        opacity: 1;
        filter: blur(5px);
    }

    85% {}

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

 .anim-opacity {
     filter: blur(5px);
     opacity: 0;
     animation-name: showing;
     animation-fill-mode: forwards;
     animation-duration: 0.2s;
 }

 @keyframes opacity {
     10% {
         opacity: 0;
         filter: blur(10px);
     }

     20% {
         opacity: 0.7;
         filter: blur(0px);
     }

     40% {
         opacity: 0.7;
     }

     100% {
         filter: blur(0px);
         opacity: 1;
     }
 }

 .anim-translate-to-down {

     animation-name: translate-to-down;
     animation-fill-mode: forwards;
     animation-duration: 0.5s;
 }

 @keyframes translate-to-down {
     0% {
         transform: translateY(-50px);
     }


     100% {
         transform: translateY(0px);

     }
 }

 .anim-translate-to-right {
    animation-name: translate-to-right;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes translate-to-right {
    0% {
        transform: translateX(-50px);
    }


    100% {
        transform: translateX(0px);

    }
}

 .anim-earthquake {
     transform: translateY(-20px);
     animation-name: earthquake;
     animation-fill-mode: forwards;
     animation-duration: 0.5s;
 }

 @keyframes earthquake {
     0% {
         transform: translateY(-20px);
     }

     30% {
         rotate: 2deg;
         transform: translateY(-10px);
     }

     85% {}

     100% {
         transform: translateY(0px);

     }
 }

 /* END animaciones */