.card-list-details {
    background-color: rgb(140, 92, 43);
    width: 30rem;
    min-height: 380px;
    padding: 2px;
    font-size: 28px;
    margin-top: 52px;
}

.card-img-top{
    height: 320px;
}

.button-delete {
    background-color: rgba(191, 67, 29, 0.635);
    border-radius: 10px;
    border: 2px solid rgba(143, 59, 17, 0.703);
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}

.button-edit {
    background-color: rgba(202, 114, 25, 0.72);
    border: 2px solid rgba(143, 59, 17, 0.703);
    border-radius: 10px;
    margin: 10px;
    font-size: 28px;
    cursor: pointer;
    z-index: 3;
}

.button-manager {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}
