.galery{
    margin: 40px 0; 
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list {
    background-color: rgb(140, 92, 43);
    width: 12rem;
    padding: 2px;
    margin: 10px;
    text-decoration: none;
    color: rgb(230, 218, 206)
}

.card-list h5 {
    text-decoration: none;
    color: rgb(230, 218, 206)
}

.pagination {
    
}