body {
    background-color: rgb(0, 0, 0);
    font-family: 'Sansita Swashed', cursive;
    /* font-family: 'Nuosu SIL', serif; */
    /* font-family: 'Sansita Swashed', cursive; */
    /* font-family: 'Water Brush', cursive; */
}

.container-home {
    background-color: rgb(174, 115, 47);
    min-height: 100vh;
    /* padding-bottom: 70px; */
}

.buttom-home {
    background-color: rgb(235, 145, 19);
}

.button-go-app {
    max-height: 40px;
    background-color: rgb(235, 145, 19);
    margin: 8px;
}

.button-go-app img {
    height: 100%;
}

.input-search {
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

}

@media (max-width: 991px) {
    .input-search {
        color: rgb(184, 103, 23) !important;
        padding: 10px 0px;
    }
}

@media (max-width: 767px) {
    .form-select {

        margin: 0 15px;
    }
}

.input-search {
    color: rgb(184, 103, 23) !important;

}

.input-search input {
    margin: 0 10px;
    color: rgb(67, 67, 67) !important;
    background-color: rgb(184, 166, 119);

}

.input-search input::placeholder {
    color: rgb(67, 67, 67) !important;
}

.input-search input:focus {
    color: rgb(67, 67, 67) !important;
    background-color: rgb(198, 185, 153);
}


.form-select {
    background-color: rgb(235, 145, 19);
}

.form-select select {
    background-color: rgb(235, 145, 19);
    color: rgb(205, 193, 180);
}

.form-selec option {
    border: 2px solid rgb(54, 48, 41);
    background-color: rgb(235, 145, 19);
}

